extends templates/temp

block content
    h1 Галерея
    .block
        img(src="img/dimka.jpg")
        .text
            h2 Дымка
            p Наша кошечка Дымка! Эта серая кошка была выброшена своими хозяевами на улицу, но обрела новый дом в нашем приюте и ждёт нового хозяина!