extends templates/temp

block content
    h1 Галерея
    .block
        img(src="img/dora.jpg")
        .text
            h2 Дора
            p Это наша собачка Дора. Она живёт у нас в приюте уже давно, около 5 лет. Мы нашли её ещё щенком больной и голодной на улице, но она прошла реабилитацию и теперь абсолютно здорова и счастлива в нашем приюте!
