extends templates/temp

block content
    h1 Галерея
    center Здесь вы можете просмотреть галерею с нашими любимыми питомцами, а также прочитать их истории, нажав на фотографии!
    .gallery
        a(href="file:///C:/Users/79146/Desktop/gulp_lab6/dist/rizhik.html")
            img(src="img/rizhik.jpg" alt="background-image")
            div
                p Кот Рыжик
    .gallery
        a(href="file:///C:/Users/79146/Desktop/gulp_lab6/dist/dora.html")
            img(src="img/dora.jpg")
            div
                p Собака Дора

    .gallery
        a(href="file:///C:/Users/79146/Desktop/gulp_lab6/dist/dimka.html")
            img(src="img/dimka.jpg")
            div
                p Кошка Дымка
    .gallery
        img(src="img/grigory.webp")
        div
            p Пёс Григорий
    .gallery
        img(src="img/manusya.jpg")
        div
            p Кошка Манюся