extends templates/temp

block content
    h1 Галерея
    .block
        img(src="img/rizhik.jpg")
        .text
            h2 Рыжик
            p Это наш кот Рыжик. На данный момент он живет у нас в приюте уже 2 года. Мы нашли его на улице, он был покусан собаками, но нашими совместными усилиями нам удалось спасти его. Хоть и по-началу он относится недоверительно ко всем, на самом деле очень ласковый!
